<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Figure skating database</h1>
  <ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
    <li><a href="/search">Search</a>
  </ul>
</nav>

<body>
    <h1>Current Most Favorited Skater Is</h1>
  
    <div>
      {% for n in data %}
      <h2>{{n[0]}}</h2>
      {% endfor %}
    </div>

<form method="POST" action="/favorite">
  <p>Who are you <input type="text" name="username">
  Who do you love: <input type="text" name="skater"> 
  <input type="submit" value="Favorite" /></p>
</form>
<h3>{{error}}</h3>
<h3>Check Your Favorites</h3>
<form method="POST" action="/favoritelist">
  <p>Username: <input type="text" name="username">
  <input type="submit" value="Check" /></p>
</form>
<div>
  {% for key in list %}
  <h2>{{key[0]}}</h2>
    {% for upcoming in list[key] %}
    <p>Upcoming competitions: {{upcoming}}</p>
    {% endfor %}
  {% endfor %}
</div>
</body>
<p><a href="/home">Home</a></p>



</html>

