
<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Figure skating database</h1>
  <ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
    <li><a href="/search">Search</a>
  </ul>
</nav>

<body>
  <h1>Figure Skating Database</h1>

  <h3>Choose your adventure:</h3>

  <div>
    {% for n in data %}
    <div>"{{n}}"</div>
    {% endfor %}
  </div>



<p><a href="/search">Search for specific data about competitions, skaters, and elements</a></p>
<p><a href="/another">Favorite Some Skaters</a></p>
  <p><a href="/vote">Make your competition predictions</a></p>

</body>


</html>
