<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <form method="POST", action="/predict">
  <h1>Pick a winner for each category:</h1>
  <p>Username <input type="text" name="username"></p>
    {% for key in data %}
    <p> {{key[0]}} </p>
      <select name=banana>
      {% for c in data[key] %} 
        <OPTION type="text" value="{{c[0]}}">{{c[0]}}</option>
      {% endfor %}
      </select>
    {% endfor %}
    <input type="submit" value="Submit" />
  </form>

</body>
</html>