<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Figure skating database</h1>
  <ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
    <li><a href="/search">Search</a>
  </ul>
</nav>

<body>
  <form method="POST", action="/predict">
  <h1>Pick a winner for each category:</h1>
  <p>Username <input type="text" name="username"></p>
  <h3>{{error}}</h3>
    {% for key in data %}
    <p> {{key[0]}} </p>
      <select name={{key[0]}}>
      {% for c in data[key] %} 
        <OPTION type="text" value="{{c[0]}}">{{c[0]}}</option>
      {% endfor %}
      </select>
    {% endfor %}
    </SELECT>
    <input type="submit" value="Submit" />
  </form>
  <h2>Predicted Winners Based On Past Placement:</h2>
  <h3>Pairs:</h3>
  {% for p in pairsP %}
    <p> {{p[0]}} </p>
  {% endfor %}
  <h3>Mens:</h3>
  {% for m in mensP %}
    <p> {{m[0]}} </p>
  {% endfor %}
  <h3>Womens:</h3>
  {% for w in womensP %}
    <p> {{w[0]}} </p>
  {% endfor %}
  <h3>Dance:</h3>
  {% for d in danceP %}
    <p> {{d[0]}} </p>
  {% endfor %}

  <h2>Predicted Winners Based on Poll Response:</h2>
  <h3>Pairs:</h3>
  {% for p in pairsR %}
    <p> {{p[0]}} </p>
  {% endfor %}
  <h3>Mens:</h3>
  {% for m in mensR %}
    <p> {{m[0]}} </p>
  {% endfor %}
  <h3>Womens:</h3>
  {% for w in womensR %}
    <p> {{w[0]}} </p>
  {% endfor %}
  <h3>Dance:</h3>
  {% for d in danceR %}
    <p> {{d[0]}} </p>
  {% endfor %}

  <p><a href="/home">Home</a></p>

</body>
</html>