<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Figure skating database</h1>
  <ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
    <li><a href="/search">Search</a>
  </ul>
</nav>
<body>
  <form method="POST" action="/pollpicked">
  <h1>Pick a competition to predict:</h1>
  <input type="text" name="competition" list="pollList">
  <datalist id="pollList">
    {% for key in data %}
        <OPTION type="text" value="{{key}}">{{data[key]}}</option>
    {% endfor %}
  </datalist>
  <input type="submit" value="Submit" />
  </form>

  <p><a href="/home">Home</a></p>
</body>
</html>