<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Figure skating database</h1>
  <ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
  </ul>
</nav>
<section class="content">
    <h1>Query requirements</h1>
    <form method="get|post" action="/searchresults"">
        <h2>Element, Short Program, Long Program, or Total Combined Score</h2>
        <p>Choose whether to search for specific elements, short program scores, long program scores, or total combined scores
            (short program score + long program score).</p>
        <p>Or you can skip this part (leave it blank) and just search for general data about skaters and competitions.</p>
            <input type="radio" id="ele" name="scores" value="ele">
            <label for="ele">Element</label><br>

            <input type="radio" id="sp" name="scores" value="sp">
            <label for="sp">Short Program</label><br>

            <input type="radio" id="lp" name="scores" value="lp">
            <label for="lp">Long Program</label><br>

            <input type="radio" id="ts" name="scores" value="ts">
            <label for="ts">Total Combined Score</label><br>

            <input type="radio" id="none" name="scores" value="none">
            <label for="none">None</label><br>


        <p>Specific elements to be included in query result, seperated by a commas ONLY. Leave blank to include all elements.
            Ignored if "element" is unselected above.
        </p>
        <label for="elements">Elements</label><br><br>
        <input type="text" id="elements" name="elements"><br><br>

        <h2>Filters</h2>
        <p>List entities to be included in query result, seperated by a commas and a space. Leave blank to include all entities.</p>

            <label for="skaters">Skaters</label>
            <input type="text" id="skaters" name="skaters"><br>
            
            <label for="comps">Competitions</label>
            <input type="text" id="comps" name="comps"><br>

            <label for="countries">Countries</label>
            <input type="text" id="countries" name="countries"><br>

            <label for="years">Years</label>
            <input type="text" id="years" name="years"><br>

        <h3>Disciplines:</h3>
            <input type="checkbox" id="mens" name="disciplines" value="mens">
            <label for="mens">Men's Singles</label><br>

            <input type="checkbox" id="womens" name="disciplines" value="mens">
            <label for="womens">Women's Singles</label><br>

            <input type="checkbox" id="pairs" name="disciplines" value="pairs">
            <label for="pairs">Pairs</label><br>

            <input type="checkbox" id="mens" name="disciplines" value="dance">
            <label for="dance">Ice Dance</label><br>

        <h2>Result Columns</h2>
        <p>Select the attributes that you want to see from the data that matches the above criteria.</p>
        <p>If nothing is selected, every relevant attribute will be returned.</p>
        <h3>Skater Attributes</h3>
        {% for attribute in skater_attributes %}
            <input type="checkbox" id={{attribute}} name="column" value={{attribute}}>
            <label for={{attribute}}>{{attribute}}</label><br>
        {% endfor %}
        <h3>Competition Attributes</h3>
        {% for attribute in competition_attributes %}
            <input type="checkbox" id={{attribute}} name="column" value={{attribute}}>
            <label for={{attribute}}>{{attribute}}</label><br>
        {% endfor %}

        <! min/max score? placements? limit? age?>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
</section>