<!doctype html>
<title>Search for data</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
<h1>Figure skating database</h1>
<ul>
    <li><a href="/home">Home</a>  
    <li><a href="/another">Another</a>
    <li><a href="/search">Search</a>
</ul>
</nav>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<table>
    {% for row in results %}
    <tr>
        {% for cell in row%}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
